streamlit

langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai
langsmith

openai

sentence-transformers==2.2.2
huggingface_hub==0.14.1
transformers==4.30.2
tokenizers==0.13.3
torch

chromadb
faiss-cpu

pymysql
mysql-connector-python
python-dotenv
